<script src="/app.js"></script>

<nav>
  <a href="/" class="nav-brand">YF</a>
  <ul class="nav-ul">
    <li class="nav-li"><a href="/" class="nav-links home">Home</a></li>
    <li class="nav-li">
      <a href="/#contact" class="nav-links contact">Contact</a>
    </li>
    <li class="nav-li">
      <a href="/login" class="nav-links navlogin">Login</a>
    </li>
    <li class="nav-li">
      <a href="/register" class="register-nav nav-links register">Register</a>
    </li>
  </ul>
  <div class="menu" id="menu"><i class="fas fa-bars"></i></div>
</nav>
