<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You Forever - Change Password</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <header><%- include('./partials/dashboardheader.ejs') %></header>
      <main class="change-password-main">
        <form class="cpform" action="/changepassword" method="POST">
          <h2>Change Password</h2>
          <p style="font-size: 14px; color: red"><%=message%></p>
          <div class="formgroup">
            <label for="oldpassword">Old Password: </label>
            <input
              type="password"
              name="oldpassword"
              id="oldpassword"
              required
              autocomplete="current-password"
            />
          </div>
          <div class="formgroup">
            <label for="newpassword">New Password: </label>
            <input
              type="password"
              name="newpassword"
              id="newpassword"
              required
              autocomplete="current-password"
            />
          </div>
          <input type="submit" value="submit" />
          <a class="back-cp" href="/login">Back</a>
        </form>
      </main>
    </div>
  </body>
</html>
