<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You Forever - Forgot Password</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <header><%- include('./partials/header.ejs') %></header>
      <main class="forgot-password-main">
        <h1>Forgot Password?</h1>
        <form action="/forgotpassword" method="POST">
          <div class="formgroup">
            <label for="forgot-email">Enter the E-Mail Address</label>
            <input
              type="email"
              autocomplete="username"
              placeholder="Enter your email..."
              name="femail"
              id="forgot-email"
            />
          </div>
          <input type="submit" value="Submit" />
        </form>
      </main>
    </div>
  </body>
</html>
